<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy <%= year %>, CSE 340 App</p>
  pnpm run start - to start the server then open browser and put in http://localhost:5500/
</footer>
