<% const d = new Date()
let year = d.getFullYear() %>
<footer class="links">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/type/error"> Testing Server Error</a></p>
</footer>
