<header id="top-header">

  <div id="tools">
    <% if (locals.loggedin == 1) { %>
      <div id='header-greeting'>

          <a href="/account/" title="Click to Manage Account">Welcome <%- locals.accountData.account_firstname %></a>
          <br>
          <a href="/account/logout" title="Click to Logout">Logout</a>
      </div>
  <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
  <% } %>
  </div>
  
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  </header>