

    <h2>Welcome to CSE Motors!</h2>


    <div class="containerdiv">
        <div class="mainimage">
            <picture>

                <source media="(min-width:600px)" srcset="images/vehicles/delorean.jpg">
                <img src="images/vehicles/delorean-tn.jpg" alt="CSE Motors Car Image">
            </picture>
        </div>
        <div class="cornerimage">
            <h5>DMC Delorean</h5>
            <P>3 Cup holders</P>
            <P>Superman doors</P>
            <P>Fuzzy dice!</P>
            <img src="images/site/own_today.png" alt="Own Today">
        </div>
    </div>

    

    <div class="mainreviewdata">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>



    <div class="mainupgrades">
        <h2 class="tempmonth infotxt">Delorean Upgrades</h2>
        <table class="mainimgtable">
            <tbody>
                <tr>
                    <th class="uppic"><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">  </th>
                    <th class="uppic"><img src="images/upgrades/flame.jpg" alt="Flame Decals" >  </th>
                </tr>
                <tr>
                    <th class="uptxt"><a href="">Flux Capacitor</a></th>
                    <th class="uptxt"><a href="">Flame Decals</a></th>
                </tr>            
                <tr>
                    <th class="uppic"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">  </th>
                    <th class="uppic"><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">  </th>     
                </tr>
                <tr>
                    <th class="uptxt"><a href="">Bumper Sticker</a></th>
                    <th class="uptxt"><a href="">Hub Caps</a></th>
                </tr>
            </tbody>

        </table>
    </div>




