/*  pnpm run start - to start the server then open browser and put in http://localhost:5500/ */

/* Get fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Merriweather&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {

  --bodybackground-color: darkgray;
  --primaryblocks-color:#295982;
  --secondaryblocks-color:#AEBEBE;;

  --infoblocks-color:	#D6DBDB;

  --primary-color:#FCF6F5FF;
  --secondary-color: #466EC3;

  --mbfbackground-color:#98c1d9; 
    
  --primarytxt-color: #293241;
  --secondarytxt-color:rgb(255, 255, 255);
  --infotxt-color: brown;

  --textbackground-color: #D6DBDB;
  --primaryboarders: black;

  /* Fonts to use on page */
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Merriweather", serif;
}

/*h1,h2,h3,h4,h5,th, a href {
  font-size: 100%;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

body {
  background-image: url("/images/site/small_check.jpg");
  margin: 0;
  padding: 1em 0;
  font-family: var(--paragraph-font);
}

#wrapper {
  margin: 0 auto;
  background-color: white;
}

/* formating the header links */

#top-header a {
  text-decoration: none;
  color: var(--primaryblocks-color);
  font-family: var(--heading-font);
  margin: 0 auto;
  padding: 0;
}

.siteName {
  font-weight: bolder;
  font-size: 3rem;
  padding: 0.5em;
}

#tools {
  text-align: right;
  align-items: flex-end;
  padding: 1em;
  font-weight: bolder;
}

/* formating the main points listed  */
.mainreviewdata li {
  padding: 0.5%;
}


/* Nav links  */

/* .primarynavbar */ 
nav ul {
  list-style-type: none;
  background-color: var(--primaryblocks-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  font-size: 1rem; 
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem; 
  display: block;
  color: var(--infoblocks-color);
}

nav li a:hover {
  background-color: var(--mbfbackground-color);
  color: var(--primarytxt-color);
}


/* CSE motors main image*/

main h1 {
  text-align: center;
  } 

.containerdiv { 
  /*float: left; */
  position: relative; 
}

.cornerimage { 
  position: absolute; 
  top: 3cm; 
  left: 5%; 
  width: 25%;
  border: 1px solid var(--primaryboarders);
  background-color: whitesmoke;
  opacity: 0.9;
  color: rgb(38, 111, 207);
  font-size: 10px; 
} 

.mainimage img {
  width: 100%;
}

.cornerimage img {
   width: 80%;
}

/* CSE upgrade images and table updates */
.mainimgtable  {
  width: 100%;
  align-content: center;
}

table.mainimgtable th.uppic img  {
  width: 50%;
}

table.mainimgtable th.uppic  {
  background-color: aqua;
  border: 1px solid var(--primaryboarders);
}

table.mainimgtable th.uptxt  {
  vertical-align: text-top;
  padding-bottom: 2%;
}


/*  Vehicles Details   */
#det-invimg img {
  width: 95%;
  border: 5px solid var(--primaryboarders);
  border-radius: 10px;

}
#det-invprice, #det-invmiles, #det-invcolor {
  text-align: center;
  background-color: var(--secondaryblocks-color);
  color: var(--primarytxt-color);
  padding: 0.5rem;
  border: 2px solid var(--primaryboarders);
}

#det-invdescription {
  margin: -1rem 1rem 2rem 1rem  ;
  font-size: 1.1rem;
}

#det-invdescriptionhead {
  text-align: center;
  text-decoration: underline;
}


/*  Vehicles Details   */
#det-invdetails {
  display: flex;
  flex-direction: column;
}

/*  Login page + Registration   */

#login_box, .login_box, #upUser_box, #upPass_box {
  background-color:var(--secondaryblocks-color);
  padding: 1.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 10px auto;
}

.btn, .btn1 {
  display: inline-block;
  background: var(--secondary-color);
  padding: .5em 2em;
  color: var(--primary-color);
  margin-right: .5em;
}

.btn :hover {
  background-color: var(--mbfbackground-color);
  color: var(--primarytxt-color);
}

.btnD {
  display: inline-block;
  background: red;
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
} 

form {
  display: block;
  width: 100%;
}

input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}

.show-password {
  margin-bottom: 1rem;
  background-color:white;
  padding: 0.5em;
  border-radius: 15px 15px;
  border: 2px solid #212529;
}

/* Styling valid/invalid inputs using CSS */ 
input:required:invalid, input:focus:invalid {
 background-color: rgb(245, 156, 156);
 background-position: right top;
 background-repeat: no-repeat;
}


input:required:valid {
background-position: right top;
background-repeat: no-repeat;
}

/* tab links in */
.links p,a{
 padding-left: 5%;
}

/* add imventory page */
.inv_description {
  height: 200px;
  width: 100%;
}

/* SELECT Drop-Down */
select {
  font-family: var(--heading-font);
  padding: 0.5em;
  margin: auto 6px;
  background-color: var(--mbfbackground-color);
  color: var(--primarytxt-color);
  font-weight: bold;
}

/* Table formatting */
table {
  border-collapse: collapse;
  border: 2px solid var(--mbfbackground-color);
  table-layout: auto;
  width: 100%;
}

tr,
td {
  padding: 15px;
}

table,
td,
tr {
  border-bottom: 2px solid var(--mbfbackground-color);
}

thead {
  background-color: var(--primarytxt-color);
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 1.3rem;
}

table a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}



/* ***************************************************
        CSS Rules for 700px and larger screens
 **************************************************** */

@media only screen and (min-width: 700px) { 
  body {
      background-image: url("/images/site/checkerboard.jpg");
  }

  #wrapper {
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
    border: 5px solid var(--primaryblocks-color);
    border-radius: 8px;
  }
    
  /*h1,h2,h3,h4,h5,th,p, a href, li {
      font-size: 100%;
  }

  .siteName {
      font-size: 50px;
    }*/

/* Nav links  */
nav li {
  float: left;
}

/* CSE motors main image*/
.containerdiv { 
  /*float: left; */
  position: relative; 
}

.cornerimage { 
font-size: 100%;
} 

.mainreviewdata {
  float: right;  
}

.mainreviewdata li {   
  padding-bottom: 5%;
  text-align: left;
  font-size: 105%;
}

.mainimgtable, .mainupgrades h2 {
  width: 40%;
  padding-left: 5%;
}

/*  Vehicles Details   */
#det-invdisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 0.5rem;
}

#det-invdetails {
  display: grid;
  grid-column: 2/3;
}


}
