/*  pnpm run start - to start the server then open browser and put in http://localhost:5500/*/

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


:root {




  --bodybackground-color: darkgray;
  --primaryblocks-color:#295982;
  --secondaryblocks-color:#AEBEBE;;

  --infoblocks-color:	#D6DBDB;

  --primary-color:#FCF6F5FF;
  --secondary-color: #466EC3;

  --mbfbackground-color:#98c1d9; 
    
  --primarytxt-color: #293241;
  --secondarytxt-color:rgb(255, 255, 255);
  --infotxt-color: brown;

  --textbackground-color: #D6DBDB;



  /* Possible Fonts to use on page */
  --heading-font: "Merriweather", serif;
  /*--heading-font: "Verdana", Geneva, sans-serif;  */
  --paragraph-font: "Georgia", Times;
  --link-font: "Verdana", Geneva, sans-serif;
}

h1,h2,h3,h4,h5,th,p, a href, li{
  font-size: 50%;
}


/* formating the header links */

#top-header a {
  text-decoration: none;
}

.siteName {
  font-size: 50px;
  font-weight: bolder;
}

#tools {
  color: antiquewhite;
  text-align: right;
  align-items: flex-end;
}



/* formating the main points listed  */
.mainreviewdata li {
  padding: 0.5%;
}




/* Nav links  */

.primarynavbar {
  background-color: #293241;
  text-align: center;
  margin: 0%;
  margin-top: 10px;
  align-content: left;
}

.primarynavbar li {
  display: inline-block;
  color:var(--secondarytxt-color);
  font-size: 50%;
  padding: 0%;
  list-style-type: none;
  line-height: 0.5em;
}


/* CSE motors main image*/

.containerdiv { 
  /*float: left; */
  position: relative; 
}

.cornerimage { 
  position: absolute; 
  top: 3cm; 
  left: 5%; 
  width: 20%;
  border: 1px solid black;
  background-color: whitesmoke;
  opacity: 0.9;
  color: rgb(38, 111, 207);
  font-size: 50%;
} 

.mainimage img {
  width: 100%;
}

.cornerimage img {
   width: 80%;
}


 

/* CSE upgrade images and table updates */


.mainimgtable  {
  width: 100%;
  align-content: center;
}

table.mainimgtable img {
  align-items: right;
}


table.mainimgtable th.uppic  {
  background-color: aqua;
  border: 1px solid black;

}

table.mainimgtable th.uptxt  {
  vertical-align: text-top;
  padding-bottom: 2%;
}

table.mainimgtable th {
  border:5%;
}
