@media only screen and (min-width: 650px) {

    body {
        background-image: url("/images/site/small_check.jpg");
        margin: 0;
        padding: 1em 0;
    }
    #wrapper {
        max-width: 700px;
        margin: 0 auto;
        border: 5px solid blue;
        border-radius: 8px;
        background-color: white;
    }
      

    h1,h2,h3,h4,h5,th,p, a href, li {
        font-size: 100%;
    }

    .siteName {
        font-size: 50px;
      }

/* Nav links  */

.primarynavbar li {
font-size: 150%;
padding: 5%;
}

  /* CSE motors main image*/

.containerdiv { 
    /*float: left; */
    position: relative; 
}
  
.cornerimage { 
font-size: 100%;
} 

.mainreviewdata {
    float: right;  
}


.mainreviewdata li {   
    padding-bottom: 5%;
    text-align: left;
    font-size: 105%;
    
}

.mainimgtable, .mainupgrades h2 {
    width: 40%;
    padding-left: 5%;

}



}