<div>

    <% if (title) { %>
      <h1 id="login_form"><%= title %></h1>
      <% } else {
      res.redirect('/')
    } %>
  
    <%- messages() %>
  
    <table>
      <%- grid %>
    </table>

</div>
  




    







