<div>

    <% if (title) { %>
      <h1 id="login_form"><%= title %></h1>
      <% } else {
      res.redirect('/')
    } %>
  
    <%- messages() %>
  
</div>
  

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>


<noscript>JavaScript must be enabled to use this page.</noscript>






    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items.</p>




  <table>
    <tr>
      <td>Classification</td> 
      <td>Make</td>  
      <td>Model</td>
      <td>Color</td>
      <td>Year</td>
      <td>Miles</td>
      <td>Price</td>
  </tr> 
</table>
    


<%- classificationSelect %>
<table id="inventoryDisplay"></table>

<table id="inventoryDisplaySort"></table>
<script src="../../js/inventory.js"></script>
<script src="../../js/inventorylist.js"></script>

    <noscript>JavaScript must be enabled to use this page.</noscript>

    
